$main_blue:#173060;
$light_blue:#62A1D2;
$main_gray:#B3ABA6;
$orange:#FF8F14;
$pink:#F65453;
$red:#CC251B;
$white:#fff;
$text_color:#505050;
a {
    text-decoration: none;
}

.wrap {
    width: 100%;
    margin: 0 auto;
}

.main {
    padding: 0 40px;
    width: 1024px;
    margin: 0 auto;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1 {
        font-size: 30px;
        margin: 20px;
        font-weight: bold;
        color: $main_blue;
        text-align: center;
    }
}

.color_top {
    width: 1024px;
    height: 15px;
    display: flex;
    justify-content: center;
}

.gray {
    background-color: $main_gray;
    width: 14%;
}

.orange {
    background-color: $orange;
    width: 21%;
}

.blue {
    background-color: $main_blue;
    width: 9%;
}

.pink {
    background-color: $pink;
    width: 22%;
}

.red {
    background-color: $red;
    width: 18.55%;
}

.light_blue {
    background-color: $light_blue;
    width: 14.55%;
}

.product {
    border-radius: 10px;
    border: 2px solid $light_blue;
    display: block;
    width: 100%;
    margin-bottom: 40px;
}

.progress {
    display: flex;
    width: 650px;
    align-items: center;
}

.circle {
    &.step0,
    &.step1,
    &.step2 {
        background: $light_blue;
    }
}

.line {
    &.step0,
    &.step1 {
        background: $light_blue;
    }
}

.circle {
    width: 20px;
    height: 20px;
    background: gray;
    border-radius: 50%;
}

.line {
    width: 340px;
    height: 2px;
    background: gray;
    text-align: center;
    span {
        color: $main_gray;
        font-size: 14px;
        padding-top: 10px;
        display: inline-block;
    }
}

.product:after {
    content: '';
    border-top: 10px solid $light_blue;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    left: 50%;
    right: 50%;
}

.order_num {
    font-size: 18px;
    padding: 20px 0px 0px 20px;
}

.main_title {
    color: $light_blue;
    font-size: 22px;
    font-weight: bold;
    margin: 20px 0;
    text-align: left;
}

.product-content {
    padding: 20px 0;
    border-bottom: 1px $main_gray solid;
    display: flex;
}

.product_info {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin-left: 30px;
}

.order-item {
    padding: 15px;
}

.product_detail p {
    padding-top: 10px;
    font-size: 14px;
    line-height: 1.5;
    color: $main_gray;
}

button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.buy_info {
    display: flex;
    align-items: center;
    padding-bottom: 21px;
}

.amount {
    width: 140px;
    height: 30px;
    margin-left: 69px;
    display: flex;
    border-radius: 2px;
    span {
        width: 80px;
        height: 30px;
        font-size: 12px;
        display: flex;
        line-height: 22px;
        align-items: center;
        justify-content: center;
        border-top: 1px solid $main_gray;
        border-bottom: 1px solid $main_gray;
    }
    button {
        height: 30px;
        width: 30px;
        border: 1px solid $main_gray;
        background-size: 14px;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.minus {
    background-image: url(../img/icon_less.svg);
}

.plus {
    background-image: url(../img/icon_add.svg);
}

.price {
    margin-left: 30px;
}

.delete {
    margin-left: 10px;
    img {
        width: 30px;
        height: 30px;
    }
}

.total {
    text-align: right;
    color: $light_blue;
    font-size: 18px;
    padding: 0px 22px 20px;
    .total_price {
        font-size: 24px;
        padding-left: 80px;
    }
}

.method {
    display: flex;
    justify-content: space-between;
}

.list {
    width: 290px;
    height: 130px;
    border-radius: 10px;
    border: 2px solid $light_blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $light_blue;
    font-size: 16px;
    &.focus {
        background: $main_blue;
        border: 2px solid $main_blue;
    }
    &:hover {
        box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
    }
}

.notice {
    color: $main_gray;
    font-size: 14px;
    line-height: 20px;
    margin: 20px 0 30px 0;
    li {
        list-style: disc;
        margin-left: 16px;
        font-size: 12px;
    }
}

footer {
    background: $main_blue;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    font-size: 12px;
}


/* info  */

.section-info {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $white;
    border-radius: 10px;
    margin: 20px 0;
    font-family: Noto Sans TC, sans-serif;
}

.main_notice {
    margin-top: 44px;
    background: rgba(232, 231, 230, 0.8);
    padding-bottom: 38px;
    padding-top: 25px;
    min-height: calc(100vh - 180px);
}

.pay_form {
    width: 610px;
    margin: 0 auto;
}

.pay_money {
    background: $white;
    border-radius: 10px;
}

.info_total_price {
    display: flex;
    align-items: center;
    color: $light_blue;
    font-size: 30px;
    .txt {
        color: $text_color;
        font-size: 14px;
        line-height: 20px;
    }
}

.card_style {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
}

.card ul {
    display: flex;
    align-items: center;
}

.info_total_price .sum {
    margin-left: 20px;
}

.section-input {
    background: $white;
    border-radius: 10px;
    padding: 20px;
}

.input_group {
    border-bottom: 1px solid rgba(220, 214, 211, .5);
    width: 100%;
    padding: 14px 0;
    display: flex;
    align-items: center;
    label {
        color: $text_color;
        width: 118px;
        font-size: 14px;
        line-height: 20px;
    }
    input {
        height: 50px;
        width: 280px;
        border: 1px solid $main_gray;
        border-radius: 5px 5px;
        color: $text_color;
        font-size: 16px;
        line-height: 24px;
        font-family: Noto Sans TC, sans-serif;
        padding: 13px 0 13px 15px;
        outline: none;
        &.vaild-icon {
            background: url(../img/icon_question.svg) no-repeat;
            background-position: 94%;
        }
    }
}

.button_group {
    display: flex;
    align-content: center;
    justify-content: center;
    button {
        border-radius: 28px;
        width: 180px;
        background: $light_blue;
        padding: 11px;
        color: $white;
        font-size: 16px;
        margin-right: 35px;
        transition: all .3s;
        &:hover {
            transform: translateY(-8px);
        }
    }
    .send {
        background: $orange;
        margin: 0;
    }
}


/*final  */

.pay_final {
    background: $white;
    max-width: 610px;
    border-radius: 10px;
    margin: 75px auto;
    padding-bottom: 30px;
    h4 {
        text-align: center;
        color: $light_blue;
        font-size: 22px;
        font-weight: bold;
        padding: 30px 0 15px;
    }
    p {
        color: $text_color;
        font-size: 18px;
        padding-bottom: 25px;
        text-align: center;
    }
}