@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap');
body {
    font-family: $font_familyBase;
}

.wrap {
    width: 100%;
    margin: 0 auto;
}

.main {
    padding: 0 40px;
    width: 1024px;
    margin: 0 auto;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1 {
        font-size: 30px;
        margin: 20px;
        font-weight: bold;
        color: $main_color;
        text-align: center;
    }
}

.color_top {
    width: 1024px;
    height: 15px;
    display: flex;
    justify-content: center;
}

.gray {
    background-color: $main_gray;
    width: 14%;
}

.orange {
    background-color: $bg_danger;
    width: 21%;
}

.blue {
    background-color: $main_color;
    width: 9%;
}

.pink {
    background-color: $bg_waring;
    width: 22%;
}

.red {
    background-color: $bg_notice;
    width: 18.55%;
}

.light_blue {
    background-color: $sub_color;
    width: 14.55%;
}

.product {
    border-radius: 10px;
    border: 2px solid $sub_color;
    display: block;
    width: 100%;
    margin-bottom: 40px;
}

.progress {
    display: flex;
    width: 650px;
    align-items: center;
}

.circle {
    &.active {
        background: $sub_color;
    }
}

.line {
    &.active {
        background: $sub_color;
    }
}

.circle {
    width: 20px;
    height: 20px;
    background: gray;
    border-radius: 50%;
}

.line {
    width: 340px;
    height: 2px;
    background: gray;
    text-align: center;
    span {
        color: $main_gray;
        font-size: $main_font;
        padding-top: 10px;
        display: inline-block;
    }
}

.product:after {
    content: '';
    border-top: 10px solid $sub_color;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    left: 50%;
    right: 50%;
}

.order_num {
    font-size: 18px;
    padding: 20px 0px 0px 20px;
}

.main_title {
    color: $sub_color;
    font-size: $main_titleSize;
    font-weight: bold;
    margin: 35px 0 15px;
    text-align: left;
}

.order_item {
    padding: 15px;
    li {
        padding: 20px 0;
        border-bottom: 1px $main_gray solid;
        display: flex;
    }
    .product_info {
        display: flex;
        flex-direction: column;
        width: 350px;
        margin-left: 30px;
    }
}

.product_detail p {
    padding-top: 10px;
    font-size: $main_font;
    line-height: 1.5;
    color: $main_gray;
}

.buy_info {
    display: flex;
    align-items: center;
    padding-bottom: 21px;
}

.amount {
    width: 140px;
    height: 30px;
    margin-left: 69px;
    display: flex;
    border-radius: 2px;
    span {
        width: 80px;
        height: 30px;
        font-size: $sm_font;
        display: flex;
        line-height: 22px;
        align-items: center;
        justify-content: center;
        border-top: 1px solid $main_gray;
        border-bottom: 1px solid $main_gray;
    }
    button {
        height: 30px;
        width: 30px;
        border: 1px solid $main_gray;
        background-size: 14px;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.minus {
    background-image: url(../img/icon_less.svg);
}

.plus {
    background-image: url(../img/icon_add.svg);
}

.price {
    margin-left: 30px;
}

.delete {
    margin-left: 10px;
    img {
        width: 30px;
        height: 30px;
    }
}

.total {
    text-align: right;
    color: $sub_color;
    font-size: 18px;
    padding: 0px 22px 20px;
    .total_price {
        font-size: 24px;
        padding-left: 80px;
    }
}

.method {
    display: flex;
    justify-content: space-between;
    .list {
        width: 290px;
        height: 130px;
        border-radius: 10px;
        border: 2px solid $sub_color;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        p {
            color: $sub_color;
            font-size: 16px;
        }
        &:hover {
            box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
            background: $main_color;
        }
        &.focus {
            background: $main_color;
            border: 2px solid $main_color;
        }
    }
}

.notice {
    color: $main_gray;
    font-size: $main_font;
    line-height: $main_liheight;
    margin: 20px 0 30px 0;
    li {
        list-style: disc;
        margin-left: 16px;
        font-size: $sm_font;
    }
}

footer {
    background: $main_color;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $bg_light;
    font-size: $sm_font;
}


/* info.html  */

.main_notice {
    margin-top: 44px;
    background: lighten($main_gray, 20%);
    padding-bottom: 38px;
    padding-top: 25px;
    min-height: calc(100vh - 180px);
}

.pay_form {
    width: 610px;
    margin: 0 auto;
    .section_info {
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $bg_light;
        border-radius: 10px;
        margin: 20px 0;
    }
    .info_totalPrice {
        display: flex;
        align-items: center;
        color: $sub_color;
        font-size: 30px;
        .txt {
            color: $text_color;
            font-size: $main_font;
            line-height: $main_liheight;
        }
        .sum {
            margin-left: 20px;
        }
    }
}

.pay_money {
    background: $bg_light;
    border-radius: 10px;
}

.card_style {
    display: flex;
    align-items: center;
    font-size: $main_font;
    line-height: $main_liheight;
}

.card ul {
    display: flex;
    align-items: center;
}

.section_input {
    background: $bg_light;
    border-radius: 10px;
    padding: 20px;
}

.input_group {
    border-bottom: 1px solid lighten($main_gray, 50%);
    width: 100%;
    padding: 14px 0;
    display: flex;
    align-items: center;
    label {
        color: $text_color;
        width: 118px;
        font-size: $main_font;
        line-height: $main_liheight;
    }
    input {
        height: 50px;
        width: 280px;
        border: 1px solid $main_gray;
        border-radius: 5px 5px;
        color: $text_color;
        font-size: 16px;
        line-height: 24px;
        padding: 13px 0 13px 15px;
        outline: none;
        &.vaild-icon {
            background: url(../img/icon_question.svg) no-repeat;
            background-position: 94%;
        }
    }
}

.button_group {
    display: flex;
    align-content: center;
    justify-content: center;
    button {
        border-radius: 28px;
        width: 180px;
        background: $sub_color;
        padding: 11px;
        color: $bg_light;
        font-size: 16px;
        margin-right: 35px;
        transition: all .3s;
        &:hover {
            transform: translateY(-8px);
        }
    }
    .send {
        background: $bg_danger;
        margin: 0;
    }
}


/*final  */

.pay_final {
    background: $bg_light;
    max-width: 610px;
    border-radius: 10px;
    margin: 75px auto;
    padding-bottom: 30px;
    h4 {
        text-align: center;
        color: $sub_color;
        font-size: 22px;
        font-weight: bold;
        padding: 30px 0 15px;
    }
    p {
        color: $text_color;
        font-size: 18px;
        padding-bottom: 25px;
        text-align: center;
    }
}