/* color*/

$main_color:#173060;
$sub_color:#62A1D2;
$main_gray:#B3ABA6;
$bg_danger:#FF8F14;
$bg_waring:#F65453;
$bg_notice:#CC251B;
$bg_light:#fff;
$text_color:#505050;

/*font*/

$font_familyBase:“'Noto Sans TC',
sans-serif”;
$main_titleSize:22px;
$main_font:14px;
$sm_font:12px;
$main_liheight:20px;