$bg_color:#ff0000;
$font_color:#fff;
.header {
    background-size: cover;
    background-position: center center;
    background-image: url(../asset/img/header_desktop.png);
    background-repeat: no-repeat;
    .banner {
        min-height: 420px;
    }
    .menu-bg {
        min-height: 58px;
        background: $bg_color;
        position: relative;
    }
    .menu {
        top: 0;
        ul li {
            color: $font_color;
        }
        a {
            display: block;
            &:hover {
                font-weight: bolder;
            }
        }
    }
    .banner-title {
        max-width: 460px;
        background: $bg_color;
        color: $font_color;
    }
    .main-menu {
        background: $bg_color;
        overflow: hidden;
        a {
            &:hover {
                background: $bg_color;
            }
        }
    }
    .hamburger-menu {
        display: block;
        float: right;
    }
    .menu-show {
        max-height: 165px;
    }
    .block-md {
        display: block;
    }
}